APScheduler==3.6.3
backports.entry-points-selectable==1.1.1
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.7
distlib==0.3.4
filelock==3.4.0
geographiclib==1.52
geopy==2.2.0
idna==3.3
numpy==1.21.4
platformdirs==2.4.0
pygeos==0.12.0
python-telegram-bot==13.8.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.26.0
Shapely==1.5.9
six==1.16.0
telebot==0.0.4
timezonefinder==5.2.0
tornado==6.1
tzdata==2021.5
tzlocal==4.1
tzwhere==3.0.3
urllib3==1.26.7
virtualenv==20.10.0
